body {
	max-width: 400px;
	margin: 0 auto;
	background: url(./images//bg3.jpeg) no-repeat center center fixed;
	background-size: cover;
}

h2 {
	font-weight: 300;
	text-align: center;
}

span > label {
	display: inherit;
}

input[type="checkbox"] {
	box-sizing: inherit;
	width: inherit;
	margin-top: 30px;
	margin-right: 10px;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	font-size: 14px;
}

.btn {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	padding: 10px 0;
	letter-spacing: 10px;
	border-radius: 8px;
	background-color: lightgreen;
}

label {
	line-height: 2;
	text-align: left;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 300;
}

p {
	color: red;
}
